@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<hr>
<Graph title="Graph of Aiymkan" values="20,30,40,50" colors="#339090, #903378, #a3a322, #45a3b4" />
<hr>
<Graph title="Another graph of Aiymkan" values="200,300,400,500"
       colors="#339090, #903378, #a3a322, #45a3b4" />
<hr>
<Graph values="11,22,33,44,55,66,77,88"
       colors="#2b2b87, #5d8a82, #273b44, #ffd859, #0000ff, #ff5a5a, #da70d6, #debab9" />
<hr>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
